<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LogisticApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/Bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/Estilos.css" />
    <script src="../js/JQuery.js"></script>
    <script src="../js/Bootstrap.js"></script>
    <script src="../js/ControlAgregarUsuario.js"></script>
</head>

<body>
    <div class="container">
        <!-- Inicio, NAVBAR fixed-top -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="../index.html">LogisticApp</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenido"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="contenido">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="VistaUsuarios.html">Usuarios</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <span class="navbar-text mr-sm-2" id="usuario">Pedro Pablo Perez Piedrahita (Administrador)</span>
                    <button class="btn btn-danger my-2 my-sm-0" type="button" id="salir">Salir</button>
                </form>
            </div>
        </nav>
        <br><br>
        <!-- Fin, NAVBAR fixed-top -->

        <br>
        <h1>Agregar Usuario</h1>
        <hr class="separador">

        <br>
        <form id="formulario">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="Codigo">Código</label>
                    <input type="text" class="form-control" name="Codigo" placeholder="Código">
                </div>
                <div class="form-group col-lg-6">
                    <label for="Documento">Documento</label>
                    <input type="text" class="form-control" name="Documento" placeholder="Documento">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="Perfil">Perfil</label>
                    <input type="text" class="form-control" name="Perfil" placeholder="Perfil">
                </div>
                <div class="form-group  col-lg-6">
                    <label for="Correo">Correo</label>
                    <input type="text" class="form-control" name="Correo" placeholder="Correo">
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="Nombres">Nombres</label>
                    <input type="text" class="form-control" name="Nombres" placeholder="Nombres">
                </div>
                <div class="form-group col-lg-6">
                    <label for="Apellidos">Apellidos</label>
                    <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="Telefono">Teléfono</label>
                    <input type="text" class="form-control" name="Telefono" placeholder="Teléfono">
                </div>
                <div class="form-group col-lg-6">
                    <label for="Direccion">Dirección</label>
                    <input type="text" class="form-control" name="Direccion" placeholder="Dirección">
                </div>
            </div>
            <div class="form-group">
                <label for="Contraseña">Contraseña</label>
                <input type="password" class="form-control" name="Contraseña" placeholder="Contraseña">
            </div>

            <button type="button" class="btn btn-primary" id="registrar">Registrar</button>
        </form>
    </div>
</body>

</html>